.storyItem {
    margin: 10px;
    padding: 20px;
    color: rgb(224, 217, 208);
    background-color: rgb(38, 38, 38);
}

.myBtnOpen {
    margin-right: 15px;
    color: rgb(38, 38, 38);
    background-color: rgb(248, 118, 31);
}

.myBtnInfo:enabled {
    margin-right: 15px;
    color: rgb(38, 38, 38);
    background-color: rgb(248, 147, 31);
}